*
{
    margin: 0;
    padding: 0;
    font-family: 'POP', sans-serif;
}
.container-03
{
    height: auto;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
.containerT08
{
    position: relative;
}
.containerT08 .cardT08
{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin: 25px;
}
.containerT08 .cardT08:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E90FF;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.containerT08 .cardT08:hover::before
{

    clip-path: circle(300px at 80% -20%);
}
.containerT08 .cardT08::after
{
    content: 'DRN';
    position: absolute;
    top: 30%;
    left: -20%;
    font-weight: 800;
    font-size: 12em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.containerT08 .cardT08 .imgBxT08
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.containerT08 .cardT08:hover .imgBxT08
{
    top: 0%;
    transform: translateY(0%);
}
.containerT08 .cardT08 .imgBxT08 img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    width: 270px;
}
.containerT08 .cardT08 .contentBxT08
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;   
}
.containerT08 .cardT08:hover .contentBxT08
{
    height: 210px;  
}
.containerT08 .cardT08 .contentBxT08 h2
{
    position: relative;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px;
    padding-top: 10px;
}
.containerT08 .cardT08 .contentBxT08 .sizeT08,
.containerT08 .cardT08 .contentBxT08 .colorT08
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.containerT08 .cardT08:hover .contentBxT08 .sizeT08
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.containerT08 .cardT08:hover .contentBxT08 .colorT08
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.containerT08 .cardT08 .contentBxT08 .sizeT08 h3,
.containerT08 .cardT08 .contentBxT08 .colorT08 h3
{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
    margin-right: 10px;
    text-transform: uppercase;    
}
.containerT08 .cardT08 .contentBxT08 .sizeT08 span
{
    width: 35px;
    height: 35px;
    /*color: #111;
    background: #111;*/
    margin: 0 5px;
    transition: 0.5s;
    background: #222;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;    
}
.containerT08 .cardT08 .contentBxT08 .sizeT08 span img
{
    filter: invert(1);
    transform: scale(0.4);
}

.containerT08 .cardT08 .contentBxT08 .sizeT08 span:hover
{
    background: #1E90FF;
    color: #fff;
    transform: translateY(-10px);
}
.containerT08 .cardT08 .contentBxT08 .colorT08 span
{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.containerT08 .cardT08 .contentBxT08 .colorT08 span:nth-child(1)
{
    background: #9bdc28;
}
.containerT08 .cardT08 .contentBxT08 .colorT08 span:nth-child(2)
{
    background: #03a9f4;
}
.containerT08 .cardT08 .contentBxT08 .colorT08 span:nth-child(3)
{
    background: #e91e63;
}
.containerT08 .cardT08 .contentBxT08 a
{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.containerT08 .cardT08:hover .contentBxT08
{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.75s;
}
@media (max-width: 756px)
{
	.container-03
	{
		height: auto;
		display: flex;
		flex-wrap: wrap;
	}
}